html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #f8fafc;
    color: #0f172a;
    margin: 0;
    padding: 0;
    /* Altera de min-height para height ou garante o uso correto de 100vh */
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
